<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 py-5">
    <div class="col-6">
      <img src="../../assets/images/download.jpeg" alt="" class="img-fluid" />
    </div>
    <div class="col-6 p-3">
      <h2 class="about-title">Who we are</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        dolores, odit consequatur numquam veritatis rerum voluptas accusantium
        consectetur? Quia, voluptate minima. Sint sapiente maxime quos
        blanditiis expedita, iusto dolore ipsam suscipit magnam mollitia nostrum
        culpa natus temporibus, quis officiis ducimus. Molestias voluptatum
        cumque qui inventore incidunt explicabo nobis, praesentium tempora?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        dolores, odit consequatur numquam veritatis rerum voluptas accusantium
        consectetur? Quia, voluptate minima. Sint sapiente maxime quos
        blanditiis expedita, iusto dolore ipsam suscipit magnam mollitia nostrum
        culpa natus temporibus, quis officiis ducimus. Molestias voluptatum
        cumque qui inventore incidunt explicabo nobis, praesentium tempora?
      </p>
    </div>
  </div>
</div>
