<app-breadcrumb></app-breadcrumb>
<div class="container-fluid feeds-section">
  <div class="container">
    <div class="row" id="main-row">
      <div class="col-md-3">
        <div class="card-profile">
          <div class="profile-hero">
            <p class="fs-4">Profile</p>
          </div>
          <div class="profile-section">
            <div class="pimg"></div>
            <div class="profile-data">
              <p>Julius Kenya</p>
              <p>jkenya@gmail.com</p>
              <p>Kiambu</p>
              <p>+254 123 123-456</p>
            </div>
          </div>
          <div class="profile-desc">
            <p>Lorem Ipsum is simply dummy text of the...</p>
          </div>
          <div class="profile-edit">
            <button type="submit">
              <span
                class="iconify"
                data-icon="akar-icons:edit"
                data-width="62"
                data-height="60"
              ></span>
              Edit Profile
            </button>
          </div>
        </div>
        <div class="myfeeds">
          <div class="feed-hero">
            <p class="fs-4">Your Feeds</p>
          </div>
          <div class="feed-story">
            <p>How can i deal with army worms?</p>
            <p>Posted: 29/06.22</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="feeds">
          <div class="feeds-img">
            <img
              class="img-fluid"
              src="https://raw.githubusercontent.com/Misigo94/Mkulima_Angular/main/src/assets/images/Fall-army-worm.jpg"
              alt=""
            />
          </div>
          <div class="feed-desc">
            <p>How can i deal with army worms?</p>
          </div>
          <div class="feed-replies">
            <h5>Replies</h5>
            <div class="replies-card">
              <div class="myreplies">
                <div class="reply">
                  <p>
                    Tumia armykill pest control, hiyo ilinisaidia sana. Posted:
                    29/06.22
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-card">
            <input
              class="rounded shadow"
              type="text"
              name="comment"
              id="comment"
              placeholder="Add Comment"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-left: 34px">
        <div class="card-side1">
          <div class="feed-hero">
            <p class="fs-4">Posts Categories</p>
          </div>
          <div class="trends-category text-center">
            <p>Mazao</p>
            <p>Mimea</p>
            <p>Mifugo</p>
            <p>Discover more</p>
          </div>
        </div>
        <div class="card-side2">
          <div class="feed-hero">
            <p class="fs-4">Boost Your Farm</p>
          </div>
          <div class="sider-image">
            <img
              src="https://raw.githubusercontent.com/Misigo94/Mkulima_Angular/main/src/assets/images/2.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="sider-action">
            <button type="submit">Discover more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
