<app-breadcrumb></app-breadcrumb>
<!-- Merchandise Details Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Utility Tracktor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="img-fluid"
          src="../../assets/images/6140m-utility-tractor-thumb.jpg"
          alt=""
        />
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, magni repudiandae saepe distinctio, culpa sunt dolor
          architecto unde animi minima delectus. Dolorem reprehenderit, amet sit
          impedit repellendus omnis eligendi veniam.
        </p>
        <span class="vendor bg-info mx-3 px-3 py-2"
          ><strong>Sold By:</strong> Meshack Keating</span
        >
        <span class="vendor bg-success px-3 py-2 my-2"
          ><strong>Location:</strong> Eldoret</span
        ><br />

        <button class="btn bg-dark px-3 py-2 text-white mt-3">
          Phone: 0712-345678
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center mt-5">Merchandise Available</h1>
  <div class="row my-5">
    <div class="col md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/6140m-utility-tractor-thumb.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Utility Tractor</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-block text-white"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          >More Details</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Water Pump</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-lg btn-block text-white"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          >More Details</a
        >
      </div>
    </div>
    <div class="col md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/knapsack-sprayer.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Knap-sack Sprayer</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-lg btn-block text-white"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          >More Details</a
        >
      </div>
    </div>
    <div class="col md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/6140m-utility-tractor-thumb.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Utility Tractor</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-block text-white"
          >More Details</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Water Pump</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-lg btn-block text-white"
          >More Details</a
        >
      </div>
    </div>
    <div class="col md-4">
      <div class="card shadow-lg mb-3" style="width: 16rem">
        <img
          class="img-thumbnail"
          style="height: 260px"
          src="../../assets/images/knapsack-sprayer.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" style="background-color: #d9d9d9">
          <h5 class="card-title">Knap-sack Sprayer</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <a
          href="#"
          style="background-color: #195c44"
          class="btn btn-lg btn-block text-white"
          >More Details</a
        >
      </div>
    </div>
  </div>
</div>
