<section class="weather-search">
  <div class="container">
    <form class="form">
      <div class="search-form">
        <select class="select px-2">
          <option selected>Select County</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="select px-2">
          <option selected>Select County</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="select px-2">
          <option selected>Select County</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button class="btn mk-btn">Get Weather Forecast</button>
    </form>
  </div>
</section>
<div class="bottom my-5">bhbskzfbkebfbdjkfk</div>
<!-- <section class="weather">
  <div class="weather-search">
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 gx-3 search">
        <div class="col-md-4">
          <div class="p-3">
            <select class="custom-select px-2" id="btn">
              <option selected>Select County</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <select class="custom-select px-2" id="btn">
              <option selected>Select Constituency</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <select class="custom-select px-2" id="btn">
              <option selected>Select Ward</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-lg weather-btn">
          GET WEATHER FORECAST
        </button>
      </div>
    </div>
  </div>
  <div class="bottom my-5">bhbskzfbkebfbdjkfk</div>
</section> -->
